In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('/Users/Kristin/Downloads/IHME_PRS_INDICATORS_2023_Y2023M09D21.csv', encoding='ISO-8859-1')
schema_df = pd.read_csv('/Users/Kristin/Downloads/IHME_PRS_INDICATORS_2023_CODEBOOK_Y2023M09D21_0.csv', encoding='ISO-8859-1')

In [17]:
df.head()

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_group_id,age_group_name,sort_order,level,parent_id,selectable,value
0,1,percent who trust in government,97,Argentina,2,Female,1,18 to 39,1.1,1,35,1,0.168562
1,1,percent who trust in government,135,Brazil,2,Female,1,18 to 39,1.1,1,35,1,0.159218
2,1,percent who trust in government,98,Chile,2,Female,1,18 to 39,1.1,1,35,1,0.126182
3,1,percent who trust in government,125,Colombia,2,Female,1,18 to 39,1.1,1,35,1,0.195421
4,1,percent who trust in government,141,Egypt,2,Female,1,18 to 39,1.1,1,35,1,0.442865

In [18]:
all_satisfied = df.loc[df['measure_id']==15]
all_satisfied['value'].describe()

# Descriptive statistics for the percentage of those in all surveyed countries (aggregated) who feel satisfied with their life.

count    189.000000
mean       0.602033
std        0.109634
min        0.334048
25%        0.525456
50%        0.620686
75%        0.675494
max        0.846674
Name: value, dtype: float64

In [19]:
countries_sat_grp = all_satisfied.groupby(['location_name'])
countries_sat_grp['value'].describe()

# Percent of life satisfication by country, disaggregated.

,count,mean,std,min,25%,50%,75%,max
location_name,,,,,,,,
Argentina,9.0,0.631096,0.069598,0.545465,0.564649,0.630930,0.668788,0.746322
Brazil,9.0,0.686921,0.057823,0.599382,0.656886,0.683870,0.716004,0.781317
Chile,9.0,0.608186,0.058061,0.534144,0.551574,0.607784,0.647517,0.700115
Colombia,9.0,0.684825,0.038471,0.633719,0.655911,0.684059,0.702938,0.748748
Egypt,9.0,0.791489,0.031879,0.755749,0.764741,0.781703,0.820292,0.846674
Germany,9.0,0.632172,0.025383,0.596283,0.607675,0.637205,0.652686,0.665500
India,9.0,0.683490,0.046927,0.604299,0.658969,0.694978,0.716824,0.747370
Indonesia,9.0,0.458713,0.059682,0.347575,0.411380,0.483128,0.501192,0.527636
Italy,9.0,0.498240,0.048514,0.444678,0.462375,0.475407,0.525474,0.587681
Japan,9.0,0.532899,0.053510,0.468099,0.486429,0.525456,0.570078,0.621113
Mexico,9.0,0.700832,0.066202,0.600398,0.666365,0.694564,0.744066,0.805440
Nigeria,9.0,0.716549,0.026428,0.675494,0.698775,0.714378,0.734067,0.756821
Peru,9.0,0.622291,0.016164,0.589279,0.619048,0.624166,0.626961,0.647295
Philippines,9.0,0.687415,0.034005,0.643484,0.665267,0.677908,0.705701,0.749350
Poland,9.0,0.482009,0.014192,0.456617,0.476280,0.480872,0.485281,0.504099
South Africa,9.0,0.600117,0.034252,0.535103,0.579745,0.607210,0.625170,0.639272
Spain,9.0,0.607862,0.026163,0.583240,0.588548,0.601145,0.617927,0.659464
Türkiye,9.0,0.450586,0.063787,0.359259,0.402608,0.438643,0.499163,0.567496
United Kingdom,9.0,0.549310,0.057835,0.474130,0.483654,0.556238,0.600855,0.620686
United States of America,9.0,0.630530,0.029432,0.593457,0.603735,0.630904,0.644774,0.680130
Viet Nam,9.0,0.387160,0.035062,0.334048,0.379816,0.383506,0.388316,0.458880

In [20]:
countries_sat_grp['value'].describe().loc['United States of America']

# Descriptive statistics for the percentage of those specifically in the USA (who took the survey) who feel satisfied with their life.

count    9.000000
mean     0.630530
std      0.029432
min      0.593457
25%      0.603735
50%      0.630904
75%      0.644774
max      0.680130
Name: United States of America, dtype: float64

In [21]:
countries_sat_grp['value'].agg(['mean', 'median'])

# Comparing mean and median for percent of life satisfaction by county.

                              mean    median
location_name
Argentina                 0.631096  0.630930
Brazil                    0.686921  0.683870
Chile                     0.608186  0.607784
Colombia                  0.684825  0.684059
Egypt                     0.791489  0.781703
Germany                   0.632172  0.637205
India                     0.683490  0.694978
Indonesia                 0.458713  0.483128
Italy                     0.498240  0.475407
Japan                     0.532899  0.525456
Mexico                    0.700832  0.694564
Nigeria                   0.716549  0.714378
Peru                      0.622291  0.624166
Philippines               0.687415  0.677908
Poland                    0.482009  0.480872
South Africa              0.600117  0.607210
Spain                     0.607862  0.601145
Türkiye                   0.450586  0.438643
United Kingdom            0.549310  0.556238
United States of America  0.630530  0.630904
Viet Nam                  0.387160  0.383506